img {
    width: 500px;
    border-radius: 5px;
}

#konten_atas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #efd191;
    width: fit-content;
    padding: 10px;
}